html {
  background-color: #686a70;
}

body {
  /* margin: 0.5em */
}

.asySelect {
  min-width: 140px;
  color: black;
  font: inherit;
  font-size: inherit;
  min-height: 1.1876em;
}

.asySelect > div[class^=" css-"][class$="-control"] {
  background-color: inherit;
  cursor: text;
  border-color: rgba(0, 0, 0, 0.24);
  min-height: 56px;
  box-shadow: unset;
  transition: border 0ms !important;
}

.asySelect.error > div[class^=" css-"][class$="-control"] {
  background-color: inherit;
  cursor: text;
  border-color: rgb(244, 67, 54) !important;
  min-height: 56px;
}

.asySelect > div[class^=" css-"][class$="-control"]:hover {
  border-color: black;
}

.asySelect.outline > div[class^=" css-"][class$="-control"] {
  border-color: #3f51b5;
  border-width: 2px;
}

.asySelect.error.outline > div[class^=" css-"][class$="-control"]:hover {
  border-color: rgb(244, 67, 54);
}

div[class^=" css-"][class$="-menu"] {
  background-color: white;
  color: black;
  border-radius: 4px;
  overflow: hidden;
}

.asySelect > div[class^=" css-"][class$="-control"] > div > div > div {
  color: white;
  font-size: 1rem;
}

div[class^=" css-"][class$="-singleValue"] {
  color: white;
  font-size: 1rem;
}

div[class^="css-"][class$="-Input"] {
  color: white;
  font-size: 1rem;
}

div[class^=" css-"][class$="-option"] {
  font-size: 1rem;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.00938em;
}

div[class=" css-9gakcf-option"] {
  background-color: rgba(0, 0, 0, 0.08);
  color: black;
}

div[class=" css-1n7v3ny-option"] {
  background-color: rgba(0, 0, 0, 0.04);
}

span[class^=" css-"][class$="-indicatorSeparator"] {
  display: none !important;
}

.asySelect div[class^=" css-"][class$="-indicatorContainer"] > svg {
  fill: rgba(0, 0, 0, 0.54);
  stroke: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 2px;
  margin-right: -2px;
}

.asySelect div[class^=" css-"][class$="-indicatorContainer"] > svg:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

.asySelect.disabled div[class^=" css-"][class$="-indicatorContainer"] > svg {
  fill: rgba(0, 0, 0, 0.26);
  stroke: rgba(0, 0, 0, 0.26);
}

.asySelect div[class^=" css-"][class$="-indicatorContainer"] > svg path {
  d: path('M5.6 8l4 4 4-4z')
}

.asySelect.focus div[class^=" css-"][class$="-indicatorContainer"] > svg {
  transform: rotate(180deg);
}

.dataTable > div {
  height: 65vh;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 0.5em;
}

div.dataTable div.MuiDataGrid-root {
  background-color: white !important;
}

.MuiTablePagination-caption {
  display: unset !important;
}

div.hidden {
  display: none;
}
