html {
  background-color: #686a70;
}

body {
  margin: 0.5em
}

.asySelect {
  min-width: 140px;
}

.dataTable > div {
  height: 400px;
  width: 100%;
  padding-top: 8px;
  border-radius: 8px;
}

div.dataTable > div > div > div.MuiDataGrid-root {
  background-color: white;
}

.MuiTablePagination-caption {
  display: unset !important;
}