.App {
  text-align: center;
  background-color: #686a70;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

div.selectors > * {
  margin: 0.5em !important;
}

.select-styling {
  width: 200px;
}

#simple-select-outlined-label, #simple-select-outlined {
  color: #ffffff;
}

#multiple-chip-label {
  color: #ffffff;
}
