div.whereSelectors > * {
  margin: 0.5em;
}

.select-styling {
  width: 200px;
}

#simple-select-outlined-label, #simple-select-outlined {
  color: #ffffff;
}

.otherSelector {
  display: flex;
  align-items: center;
  margin-top: 4px;
  margin-left: 2em;
}

.otherSelectors > div {
  margin-right: 4px;
}

.whereSelectors > div {
  margin-right: 4px;
}

.whereSelectors {
  display: flex;
  align-items: center;
}

.asySelect {
  min-width: 140px;
  color: black;
  padding-right: 14px;
}

.MuiFormControlLabel-label {
  color: white;
}

.iconButton {
  padding: 8px !important;
  margin-left: 4px !important;
  margin-right: 4px !important;
}

.iconButton svg{
  fill: white !important;
}

.iconButton:disabled svg{
  fill: rgba(0, 0, 0, 0.26) !important;
}