div.selectors, span.selectors > * {
    margin: 0.5em;
}

.select-styling {
    width: 200px;
  }

#simple-select-outlined-label, #simple-select-outlined {
  color: #ffffff;
}

.asySelect {
  min-width: 140px;
  color: black;
}
